.DASHBOARD{
  margin: 10px 0px;
  padding: 10px;
  font-size: 26px;
  text-transform: uppercase;
  color: #1976D2;
  border-bottom: 2px solid #1976D2;
  margin-bottom: 5%;
}

img{
  width: 200px;
  height: 150px;
}