<div class="container">
    <div class="form-group">
        <label>Product Image<span class="text-danger">*</span>:</label>
        <input #productImage type="text" placeholder="Enter Product Image URL"/>
    </div>
    
    <div class="form-group">
        <label>Product name<span class="text-danger">*</span>:</label>
        <input #productName type="text" placeholder="Enter Product Name" required/>
    </div>

    <div class="form-group">
        <label>Product price<span class="text-danger">*</span>:</label>
        <input #productPrice type="text" placeholder= "Enter Product Price" required/>
    </div>

    <hr>

    <div class="center-block">
        <button class="btn btn-success"
            (click)="add(productImage.value, productName.value, productPrice.value);
            productImage.value=''; productName.value=''; productPrice.value=''">
            Add Product
        </button>
        <button class="btn btn-default" (click)="back()">Go Back</button>
    </div>
</div>