body{
    text-align: left;
    font-family: arial;
}

div{
  padding: 20px;
}

span{
  padding: 10px;
}

#node_dequeued{
  font-size: 25px;
  text-align: center;
  color: red;
}

#nodes_in_queue{
  font-size: 25px;
  text-align: center;
  color: green;
}
